---
---

.top {
    min-height: 40vh;
    height: fit-content;
    width: 100%;
    background-image: url("/assets/images/wires.png");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
    z-index: -1;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 40vh;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(0.4rem);

        h1 {
            color: var(--primary);
            margin: 0;
            text-align: center;
            font-size: 5rem;
        }
        p {
            color: var(--bg);
            text-align: center;
            font-size: 2rem;
            width: 90vw;
            max-width: 40ch;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .who {
        width: 90vw;
        margin-bottom: 3rem;

        img {
            border-radius: 1rem;
            max-width: 100%;
            height: fit-content;
        }

        .text {
            h2 {
                color: var(--primary);
                font-size: 3rem;
                margin: 0;
            }
            p {
                font-size: 1.5rem;
                margin-top: 0;
                margin-bottom: 0.5rem;
                max-width: 70ch;
            }
            a {
                color: var(--accent);
                text-decoration: underline;
                text-decoration-color: transparent;
                font-size: 2.2rem;
                font-weight: 500;
                transition: all 0.3s ease-out;

                &:hover {
                    color: var(--primary);
                    text-decoration-color: var(--primary);
                }
            }
        }
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: var(--accent);

        h2 {
            color: var(--bg);
            font-size: 3rem;
            margin-top: 0.5rem;
            margin-bottom: 0;
            text-align: center;
        }

        ul {
            max-width: 80vw;

            li {
                color: var(--bg);
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }
        }

        a {
            color: var(--bg);
            text-decoration: underline;
            text-decoration-color: var(--bg);
            font-size: 2.2rem;
            font-weight: 500;
            background-color: var(--accent);
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            transition: all 0.3s ease-out;

            &:hover {
                text-decoration-thickness: 0.2rem;
                background-color: var(--primary);
            }
        }
    }

    .follow {
        h2 {
            color: var(--primary);
            font-size: 3rem;
            margin-top: 0.5rem;
            margin-bottom: 0.7rem;
            text-align: center;
        }
    
        .links {
            margin-bottom: 3rem;
            a {
                display: flex;
                align-items: end;
                gap: 1rem;
                margin-bottom: 1rem;
                text-decoration-color: transparent;
                text-decoration-thickness: 0.2rem;
                transition: all 0.3s ease-out;

                svg {
                    height: 5rem;
                    
                    path {
                        fill: var(--accent);
                        transition: all 0.3s ease-out;
                    }
                }

                p {
                    color: var(--accent);
                    font-size: 2rem;
                    margin: 0;
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    text-decoration-color: var(--primary);

                    svg {
                        path {
                            fill: var(--primary);
                        }
                    }

                    p {
                        color: var(--primary);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) {
    .content {
        .who {
            display: flex;
            justify-content: center;

            .text {
                margin-left: 2rem;
                max-width: 50%;
            }
        }
    }
}

@media screen and (min-width: 501px) {
    .content {
        .follow {
            .links {
                display: flex;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}