---
---

:root {
    --bg: #FBFBFE;
    --text: #050316;
    --primary: #F9B800;
    --accent: #ff8c00;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@import "header.scss", "footer.scss";